.portfolio-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #e7f1f5; 
}


.portfolio-content img {
  max-width: 250px;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}


.text-portfolio {
  flex-grow: 1;
  margin-left: 30px;
  color: #333; 
  font-family: "Arial", sans-serif; 
}

.text-portfolio h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #6197bf; 
}

.text-portfolio p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #666; 
}


.contact-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #6197bf; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color:#333; 
}

